* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v7_10 {
  width: 375px;
  height: 812px;
  background: rgba(0,64,146,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v7_11 {
  width: 484px;
  height: 684px;
  background: url("../images/v7_11.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 128px;
  left: 9px;
  overflow: hidden;
}
.v11_17 {
  width: 121px;
  height: 36px;
  background: url("../images/v11_17.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 748px;
  left: 127px;
  overflow: hidden;
}
.v7_12 {
  width: 121px;
  height: 36px;
  background: rgba(0,64,146,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v7_16 {
  width: 325px;
  height: 425px;
  background: url("../images/v7_16.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 128px;
  left: 88px;
  overflow: hidden;
}
.v7_17 {
  width: 168px;
  color: rgba(255,184,79,1);
  position: absolute;
  top: 40px;
  left: 35px;
  font-family: Inria Sans;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v7_14 {
  width: 151px;
  color: rgba(0,64,146,1);
  position: absolute;
  top: 288px;
  left: 88px;
  font-family: Architects Daughter;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
  transform: rotate(-89deg);
}
.v37_9 {
  width: 361px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 555px;
  left: 16px;
  font-family: Architects Daughter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v3_673 {
  width: 127px;
  height: 128px;
  background: url("../images/v3_673.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 248px;
  overflow: hidden;
}
.v7_15 {
  width: 213px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 69px;
  left: 35px;
  text-shadow: 0px 4px 4px rgba(1, 1, 1, 0.25);
  font-family: Inria Sans;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
